<section class="bg-white text-red-600 py-8">
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
  >

    <div class="flex justify-center md:justify-end pt-12">
      <div class="duo-container">
        <img
          src="../pastas/assets/gotinha5.png"
          alt="Mascote"
          class="duo-img w-full max-w-lg rounded-2xl object-cover"
        />

        <!-- Balão de fala -->
        <div
          class="duo-wrapper"
          role="group"
          aria-label="Balão de fala estilo Duolingo"
        >
          <div class="duo-bubble" role="dialog" aria-live="polite">
            <p class="mb-4 text-4xl font-bold tracking-tight leading-none">
              Olá, eu sou o Hemo!
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Texto -->
    <div>
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl"
      >
        Sobre o projeto
      </h1>
      <p class="text-gray-900 text-lg leading-relaxed">
        Nosso projeto busca transformar a doação de sangue em uma experiência
        motivadora e acessível, utilizando a gamificação e a tecnologia para
        engajar mais pessoas e fortalecer a conscientização sobre a importância
        de doar regularmente. Através de um sistema de recompensas, desafios e
        acompanhamento do impacto das doações, queremos criar uma comunidade
        ativa de doadores que se sintam valorizados e inspirados a contribuir
        para salvar vidas. Com uma plataforma intuitiva e informativa,
        facilitamos o processo de doação, tornando-o mais conveniente e
        gratificante para todos os envolvidos.
      </p>
    </div>

  </div>
</section>
