<!-- 
  COR ALTERADA AQUI:
  Troquei a classe "dark:bg-gray-800" por "dark:bg-gray-950" para combinar com o header.
  
  Se você quiser um tom de VERMELHO para combinar com o tema, 
  você poderia usar "dark:bg-red-900" ou "dark:bg-red-800".
-->
<footer class="w-full p-4 bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 dark:bg-red-900 dark:border-gray-700">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://flowbite.com/" class="hover:underline">Grupo 1</a>. Universidade de Brasília.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Início</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Parcerias</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contatos</a>
        </li>
    </ul>
</footer>