<footer class="w-full p-4 bg-red-800 border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-white sm:text-center dark:text-white">© 2025 <a href="https://flowbite.com/" class="hover:underline">Grupo 1</a>. Universidade de Brasília.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-white sm:mt-0">
        <li>
            <a href="{{ url_for('index') }}" class="hover:underline me-4 md:me-6">Início</a>
        </li>
        <li>
            <a href="#about" class="hover:underline me-4 md:me-6">Sobre</a>
        </li>
        <li>
            <a href="#partners-carousel" class="hover:underline me-4 md:me-6">Parceiros</a>
        </li>
        <li>
            <a href="#duvidas" class="hover:underline">Dúvidas</a>
        </li>
    </ul>
</footer>