    <!-- Imagem à direita -->
    <div class="lg:w-1/2 flex justify-center lg:justify-end">
        <figure class="max-w-md">
            <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='assets/hemoglobina.jpg') }}" alt="image description" style="max-width: 80%; margin: 0 auto;">
            <figcaption class="mt-4 text-base text-center text-black opacity-100 border-2 border-red-300 rounded-lg">
                Olá, sou Hemo sua molécula guia!
                <br>Clique para participar das campanhas apenas quando seu sangue for compatível com quem precisa.</br>
                Assim sua doação fará a diferença no momento certo!
            </figcaption>
        </figure>
    </div>
</div>